src/main/mule/azuredemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="30fee12c-0982-4fe6-b3d0-fa51e4260fd1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="azuredemoFlow" doc:id="2d2823ce-5ebb-4d14-a465-231bfb61068b" >
		<http:listener doc:name="Listener" doc:id="b2336a0e-e989-44ed-ad75-f39186c39be2" config-ref="HTTP_Listener_config" path="/azure"/>
		<set-payload value='"Gen"' doc:name="Set Payload" doc:id="d541cec2-aba3-4dfd-94cb-35e3510451f3" />
		<ee:transform doc:name="Transform Message" doc:id="3a719c85-b37b-4aa7-9927-45637446de3b" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="val" ><![CDATA[%dw 2.0
output application/java
---
{
	
	"trx id":uuid()
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7300fdd8-1601-45f3-8fdd-4e441a98d93e" message='#[payload]' category="com.demo"/>
		<logger level="DEBUG" doc:name="Logger" doc:id="92aac821-ccfb-41f7-91c5-b94f140fe763" message="#[vars.val]" category="com.azure"/>
	</flow>
</mule>
